.navbar-header a,.navbar-nav a{color:#fff;}
.navbar-inverse {
    background-color: #b00;
    border-color: #b00;
}
.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-brand{color:#fff;}
.new_customer_form{
margin:100px 50px 0px 15px;
}

.form_submit{background: rgb(255, 255, 255) none repeat scroll 0% 0%;
border: 1px solid rgb(204, 204, 204);
border: 1px solid #ccc;
border-radius: 4px;
padding: 26px;
opacity: 0.95;}

.form_submit label.header{font-size: 18px;
color: #000;}
.blocks{background-color: rgb(232, 246, 254);
  margin-right: 10px;
border: 1px solid #f3f3f3;
border-radius: 4px;}
.flexbox{display: flex;}
